@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

footer {
    width: 100%;
    height: auto;
    background: #f4f4f4;
    position: relative;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec {
    margin-right: 30px;
}

footer .container .sec.aboutus {
    width: 40%;
}

footer .container h2 {
    position: relative;
    color: #232020;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2:before {
    width: 50px;
    height: 2px;
    background: #ff7315;
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
}

footer p {
    color: #888;
    text-align: justify;
}

.sci {
    margin-top: 20px;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #ff7315;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.sci li a:hover {
    background: #f9813a;
}

.sci li a, .fab {
    color: #fff;
    font-size: 20px;
}

.quickLinks {
    position: relative;
    width: 25%;
}

.quickLinks ul li {
    list-style: none;
}

.quickLinks ul li a {
    color: #888;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover {
    color: #ff7315;
}

.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact, .info {
    position: relative;
}

.contact, .info li {
    display: flex;
    margin-bottom: 16px;
}

.contact, .info li span:nth-child(1) {
    color: #ff7315;
    font-size: 20px;
    margin-right: 10px;
}

.contact, .info li span  {
    color: #888;
}

.contact, .info li a {
    color: #888;
    text-decoration: none;
}

.copyrightText {
    width: 100%;
    background: #3a3535;
    padding: 8px 100px;
    text-align: center;
    color: #f4f4f4;
}

@media screen and (max-width: 768px) {
    footer {
        padding: 40px;
    }

    footer .container {
        flex-direction: column;
    }

    footer .container .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .container .sec.aboutus, .quickLinks, .contact {
        width: 100%;
    }

    .copyrightText {
        padding: 8px 40px;
    }

}